@import "./theming";

body{
  margin: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

main{
}

mat-form-field {
  width: 100%;

  i {
    cursor: pointer;
  }

  .mat-form-field-prefix {
    margin-right: 8px;
  }

  mat-error {
    font-size: 0.6rem;
  }
}

mat-spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

