$red: (50: #f9e0e0, 100: #f0b3b3, 200: #e68080, 300: #db4d4d, 400: #d42626, 500: #cc0000, 600: #c70000, 700: #c00000, 800: #b90000, 900: #ad0000, A100: #ffd7d7, A200: #ffa4a4, A400: #ff7171, A700: #ff5858, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$primary: (
  50 : #e4e4e6,
    100 : #bcbcc2,
    200 : #8f8f99,
    300 : #626270,
    400 : #414051,
    500 : #1f1e32,
    600 : #1b1a2d,
    700 : #171626,
    800 : #12121f,
    900 : #0a0a13,
    A100 : #5757ff,
    A200 : #2424ff,
    A400 : #0000f0,
    A700 : #0000d6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));



$accent: (
  50 : #fdece6,
  100 : #fad1bf,
  200 : #f7b295,
  300 : #f4936b,
  400 : #f17b4b,
  500 : #ef642b,
  600 : #ed5c26,
  700 : #eb5220,
  800 : #e8481a,
  900 : #e43610,
  A100 : #ffffff,
  A200 : #ffe3de,
  A400 : #ffb7ab,
  A700 : #ffa291,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
