<section class="container">
    <ng-template >
        <h1 *ngIf="$error | async; let error">{{error}}</h1>
      </ng-template>
  <div class="row">
    <form class="col-md-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <mat-form-field>
        <span matPrefix class="mdi mdi-at pre">&nbsp;</span>
        <input matInput [placeholder]="'login.username' | translate" type="text" formControlName="username"
          [disabled]="($load | async)">
        <mat-error *ngIf="loginForm.controls['username'].invalid">{{'login.errors.username' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'login.password' | translate" formControlName="password"
          [disabled]="($load | async)" [type]="hide ? 'password' : 'text'">
        <span matPrefix class="mdi mdi-lock pre">&nbsp;</span>
        <i matSuffix (click)="hide = !hide" class="mdi show" [ngClass]="hide ? 'mdi-eye-off' : 'mdi-eye'"></i>
        <mat-error *ngIf="loginForm.controls['password'].invalid">{{'login.errors.password' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-error class="response" *ngIf="$error | async; let error">{{error}}</mat-error>
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid || ($load | async)">
        <span *ngIf="!($load | async); else loader">{{'login.login' | translate}}</span>
        <ng-template #loader>
          <mat-spinner class="spinner" color="accent" [diameter]="36"></mat-spinner>
        </ng-template>
      </button>
    </form>

  </div>
</section>

